// ARCHIVO----> VARIABLES

// **********************************
// ********* COLORES ********* //
// **********************************

// ********* GENERAL ********* //
// CABERACERA SECCION - GRADIENTE
$proGeneralSeccion1: #eb994d;
$proGeneralSeccion2: white;
// CABERACERA COLOR TEXTO:
$proGeneralTexto: brown;

// ********* CABECERA ********* //
// BACKGROUND - GRADIENTE
$cabeceraGradiente1: #ffcc90;
$cabeceraGradiente2: white;
// MENU NAVEGACION - FONDO
$cabeceraNavegacionFondo: #eb994d;
// MENU NAVEGACION - COLOR FUENTE
$cabeceraNavegacionFuente: white;

// ********* PIE DE PAGINA ********* //
// BACKGROUND - GRADIENTE
$pieGradiente1: #8a7979;
$pieGradiente2: white;
// BACKGROUND - PIE DE TEXTO
$pieFondo: maroon;
$pieTextoFondo: white;

// **********************************
// ********* MARGENES ********* //
// **********************************
$margenEntreSeccion: 1rem;
$margenLateralesSeccion: 1rem;

// **********************************
// ********* REPONSIVE ********* //
// **********************************
// DISPOSITIVOS
$TamañoMediaQuery: (
  tamaño1: 360px,
  tamaño2: 768px,
);
// TAMAÑOS DE FUENTE
$textTamaño1: 6px;
$textTamaño2: 8px;

// **********************************
// ********* VARIABLES PARA EACH ********* //
// **********************************
$principalTextos: (
  texto1: #8b4513,
  texto2: #a3673c,
  texto3: #a3673ce0,
);

$principalComentarios: (
  Comentario1: #a3673c,
  Comentario2: #a3673ce0,
  Comentario3: #8b4513,
);

// **********************************
// ********* VARIABLES PARA BUCLE FOR ********* //
// **********************************

$colorFuenteProductos: (
  producto1: #8b4513,
  producto2: #a17316,
  producto3: #755310,
  producto4: #5e430d,
  producto5: rgb(255, 0, 0),
  producto6: rgba(175, 104, 110, 0.952),
  producto7: rgb(255, 0, 0),
  producto8: rgb(99, 248, 0),
);

$colorFondoFuenteProductos: (
  fondoProducto1: #8b8113,
  fondoProducto2: #ce931c,
  fondoProducto3: white,
  fondoProducto4: #ce931c,
  fondoProducto5: rgba(219, 154, 143, 0.863),
  fondoProducto6: rgb(223, 175, 179),
  fondoProducto7: rgb(218, 235, 171),
  fondoProducto8: rgb(114, 134, 128),
);
