// ARCHIVO----> MIXIN
@import "../variables/variables";

// **********************************
// ********* PAGE: PRINCIPAL ********* //
// ********* CLASES GENERADAS POR FOR ********* //
// **********************************
@for $i from 1 through 8 {
  .principal__seccion2--Producto#{$i} {
    color: map-get($colorFuenteProductos, "producto#{$i}");
  }
}

.principal__seccion1--imgFondo1,
.principal__seccion1--imgFondo2,
.principal__seccion1--imgFondo3 {
  padding: 1em 0;
  margin: 1em 0;
  border-radius: 3em;
  background-size: cover;
  height: 28em;
  position: relative;
}
@for $i from 1 through 3 {
  .principal__seccion1--imgFondo#{$i} {
    background-image: url("../img/fast-delivery-#{$i}.jpg");
  }
}
